.nav{
    padding: 20px;
}


.item{
    color: white;
    padding: 10px;
   
}
a{
    text-decoration: none;
    color: #fff;
}
.nav {
    grid-area: n;
    background-color: burlywood;
  }


 a.active{
      color: gold;
  }